@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-number-spin::-webkit-outer-spin-button,
.hide-number-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-spin[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
